<div class="login" *ngIf="!isUserLoggedIn()">
    <app-login></app-login>
</div>
<div class="row1"*ngIf="isUserLoggedIn()">
 <P>TRAVAIL + DISPLICINE = REUSSITE !!!</P>
</div>
<div class="row" *ngIf="isUserLoggedIn()">
    <div class="col-lg-3" id="side">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 " id="bi">
        <div class="row ">
        </div>   
        <div style="background-image:url('/assets/welcome.jpg');">
            <router-outlet></router-outlet>
        </div> 
    </div>
</div>