.container{
   height: 300%;
  border-right: 5px solid #000 ;

}

#side{
    background-color:	 rgb(11, 153, 66);
}
.custom-navbar {
    background-color: rgb(44, 202, 58);
}

#navbarNavDropdown{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: normal;
    color: rgb(221, 13, 13);
    font-weight: bold;
}
.navbar-nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: normal;
   color:  rgb(221, 13, 13);
    font-weight: bold;
}
#img {
    width : 150px;
    height : 150px;
}