<div class="container  ">
  <img src="/assets/logow.png " class="cim" id="img" >
  <div class="con">
  <nav class="navbar navbar-expand-lg "  >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav flex-column">
          <li class="nav-item media flex-md-row text-center text-md-left mt-4">
            <!-- <i class="fa fa-male d-flex" aria-hidden="true "> *ngIf="loginService.isUserLoggedIn()"</i> -->
            <div class="media-body">
              <a class="nav-link" routerLink="/enseignant"routerLinkActive="active" style="color: blue;font-size: x-large;font-family: 'Times New Roman', Times, serif;" >Ajout d'un Enseignant</a>
            </div>
           
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/matiere" routerLinkActive="active" style="color: blue;font-size: x-large;font-family: 'Times New Roman', Times, serif;">Ajout d'une Matiére</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/note" routerLinkActive="active" style="color: blue;font-size: x-large;font-family: 'Times New Roman', Times, serif;">Ajout d'une Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " aria-current="page" routerLink="/inscription" routerLinkActive="active"style="color: blue;font-size: x-large;font-family: 'Times New Roman', Times, serif;">Inscription d'un Eleve</a>
          </li>
         
        </ul>
      </div>
  </nav>
</div>
</div>