<div class="">
    <div class="row">
      <div class="col-lg-8 col-md-6 offset-md-2" >
        <div class="text-white text-center " id="ins" style="background-color: cornflowerblue;">
          <h2 >Liste des Inscrits</h2>
        </div>
       
        <table border="2" class="table " >
          <thead>
            <tr text-red>
              <th  scope="col">Numero</th>
              <th scope="col">Prenom</th>
              <th scope="col">Nom</th>
              <th scope="col">Sexe</th>
              <th scope="col">Date de Naissance</th>
              <th scope="col">Lieu de Naissance</th>
              <th scope="col">Adresse</th>
              <th scope="col">Email</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Redoublant</th>
              <th scope="col">Date d'inscription</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <th></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      
  
